---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "New Category";
const buttonActive = false;
---

<BaseLayout pageTitle={pageTitle} buttonActive={buttonActive}>
  <h1>nuevaCategoria</h1>
</BaseLayout>
