---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Nuevo Video";
---

<BaseLayout pageTitle={pageTitle} buttonActive={false}>
  <h2>nuevo video</h2>
</BaseLayout>
<style></style>
