---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "New Video";
---

<BaseLayout pageTitle={pageTitle} buttonActive={false}>
  <h1>nuevo video</h1>
  <div></div>
</BaseLayout>
<style>
  a {
    background-color: aqua;
  }
</style>
