---
import Social from "./Social.astro";
---

<footer>
  <img src="PrimeFlix.PNG" alt="Logo PrimeFlix" />
  <div>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </div>
</footer>
<style>
  footer {
    background-color: black;
    text-align: center;
    padding: 1em 0;
  }
</style>
