---
import Button from "./Button.astro";
const { buttonActive } = Astro.props;
const { buttonText } = Astro.props;
const { backgroundColor } = Astro.props;
const { color } = Astro.props;
const { dir } = Astro.props;
---

<header>
  <a href="/"><img src="../../public/PrimeFlix.PNG" alt="Logo PrimeFlix" /></a>
  {
    buttonActive ? (
      <Button
        buttonText={buttonText}
        backgroundColor={backgroundColor}
        color={color}
        dir={dir}
      />
    ) : (
      console.log("no")
    )
  }
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 5rem;
    align-items: center;
  }
  header a img {
    width: 35%;
  }
</style>
